/.vs
/Tasker/bin
/Tasker/obj
/Services.Gitlab/bin
/Services.Gitlab/obj
/Services.Trello/bin
/Services.Trello/obj
/Services.Redmine/bin
/Services.Redmine/obj
/Common/bin
/Common/obj
/configs
/Services.TrelloReceiver/bin
/Services.TrelloReceiver/obj
/Utils/bin/Debug/netcoreapp3.1
/Utils/obj
